<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Bike</th>
      <th>Price</th>
      <th>Days</th>
      <th>Total</th>
      <th>Order Number</th>
      <th>Profile</th>
    <%#  <th>Bike</th>
      <th>Profile</th> %>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.bike %></td>
        <td><%= order.price %></td>
        <td><%= order.days %></td>
        <td><%= order.total %></td>
        <td><%= order.id %></td>
        <td><%= order.profile_id %></td>
      <%#  <td><%= order.bike_id %>
      <%# <td><%= order.profile_id %>
       <%# <td><%= link_to 'Show', profile_order(@profile) %>
       <%#<td><%= link_to 'Edit', edit_profile_order_path(@profile, @order) %>
       <%#<td><%= link_to 'Destroy', profile_orders, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Order', new_profile_order_path %>
<%# <%= link_to 'Edit', edit_profile_order_path(@id) %>
