<p id="notice"><%= notice %></p>

<h2>Your Order Summary</h2>
<% @order.rent_items.each do |rent_item| %>
<p>
  <strong>Bike Description:</strong>
  <%= rent_item.bike.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= rent_item.bike.price %>
</p>

<p>
  <strong>Days:</strong>
  <%= rent_item.days %>
</p>
<% end %>
<p>
<p>
  <strong>Total: <%= @order.total %></strong>
</p>
  <strong>Thanks for your order <%= @order.profile.firstname %> </strong>
</p>
<p>
  <strong>This Order reference: <%= @order.id %></strong>
</p>
<p>
  <strong>This Order created at: <%= @order.created_at %></strong>
</p>

<%# link_to 'Edit', edit_profile_order_path(@profile, @order) %> |
<%= link_to 'Back', profile_orders_path(@profile) %> 
