<p id="notice"><%= notice %></p>
<% @order.rent_items.each do |rent_item| %>
<p>
  <strong>Bike Description:</strong>
  <%= rent_item.bike.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= rent_item.bike.price %>
</p>

<p>
  <strong>Days:</strong>
  <%= rent_item.days %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Your profile number:</strong>
  <%= @order.profile.user_id %>
</p>
<p>
  <strong>This Order reference:</strong>
  <%= @order.id %>
</p>
<% end %>

<%# link_to 'Edit', edit_profile_order_path(@profile, @order) %> |
<%= link_to 'Back', profile_orders_path(@profile) %> 
