<!DOCTYPE html>
<html>
<head>
  <title>Bikerental</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container"> 
			<%= link_to "Donals Bike Rental Site", home_index_path, id: "logo" %>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", home_index_path %></li>
					<li><%= link_to "Bikes", bikes_path %></li>
					<%# check if user is signed in and has a profile before showing orders%>
					<% if user_signed_in? && current_user.profile.present? %>
					<li><%= link_to "My Orders", profile_orders_path(Profile.find_by_user_id(current_user.id)) %></li>
					<% end %>
					<% if user_signed_in? %>
					<li><%= link_to 'Logout' , destroy_user_session_path, :method => :delete%></li>
					<% else %>
					<li><%= link_to 'Sign in' , new_user_session_path %></li>
					<li><%= link_to 'Register' , new_user_registration_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</header>


<div class="container">
<%= yield %>


</div>
<p class="notice"><%= notice %></p>
<p class="alert"><% alert %></p>
</body>
</html>
